<h3>List OF Available Flights</h3>

 
<table class="table table-responsive table-striped table-bordered">
 <thead>
     <th>ID</th>
      <th>FROM</th>
       <th>TO</th>
       <th>TAKE-OFF TIME</th>
       <th colspan="2">ACTION</th>
 </thead>
 <tbody>
  {{#each data}}
    <tr>
     <td>{{ID}}</td>
     <td>{{takeoffpoint}} </td>
     <td> {{landingpoint}} </td>
     <td>{{takeofftime}}</td> 
      <td> <a class="btn btn-sm btn-warning" href="/managebookings/create">Book</a></td>
    </tr>
    {{/each}}
 </tbody>
</table>
