  <div class="container">
  <h3></h3>

<form method="POST" action='create'>
<div class="col-md-10">
     <div class="card">
          <div class="card-header">CONTACT US</div>
         <div class="card-body">
         <div class="form-group">
             <label>EMAIL</label> 
             <input  class="form-control"name='email' type='email'>
         </div>
         
          <div class="form-group">
             <label>SUBJECT</label> 
             <input  class="form-control"name='subject' type='text'>
         </div>
         <div class="form-group">
             <label>MESSAGE</label> 
             <input  class="form-control"name='message' type='textarea' cols="700" rows="500">
         </div>
        <div class="text-center"> 
         <button class="btn btn-primary" type="submit">submit</button>
         </div>
         </div>
       </div>
     </div>
</form>
</div>