<h3>Fill the form below to create aircraft</h3>

<form method="POST" action='create' class="align-content-center">
    <div class="row ">
        <div class="col-md-8 ">
             <div class="card">
                  <div class="card-header text-center">
                      CREATE FLIGHT
                  </div>
               <div class="card-body">
            <div class="form-group">
                <label>Aircraft No</label>
                <input class="form-control" name='aircraftno' type='text'>
            </div>
            <div class="form-group">
                <label>Capacity</label>
                 <input class="form-control" name='capacity' type='number'>
            </div>
      
    
            <div class="form-group">
                <label>Name</label>
                 <input class="form-control" name='name' type='text'>
            </div>
            <div class="form-group">
                <label>Type</label> 
                <input class="form-control" name='type' type='text'>
            </div>
           <div class="text-center">
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
           </div>
        </div>
     </div>
    </div>
</form>