<h3>Enter the the passenger's ID</h3>

<form method="POST" action='delete'>
 <label>passenger ID</label> <input name='passenger_id' type='text'><p></p>
 <button class='button1' type="submit">DELETE</button>
</form>

