<h3>
    Flight Management menu
</h3>
 <p>select any of the following services:</p>

<ol>
    <li>
        <a href="manageflights/create">Create Flight</a>
    </li>
    <li>
         <a href="/flights">List Flight</a>
    </li>
    
</ol>