<h3>
    Booking Management menu
</h3>
 <p>select any of the following services:</p>

<ol>
    <li>
        <a href="managebookings/create">create Booking</a>
    </li>
    <li>
         <a href="managebookings/list">List Bookings</a>
    </li>

</ol>