<h3>
     Aircraft Management menu
</h3>

<ol>
    <li>
        <a href="manageaircrafts/create">Create Aircraft</a>
    </li>
    <li>
         <a href="aircrafts">List Aircraft</a>
    </li>
   
</ol>