<h3>
    Welcome To Airport Management System
</h3>

<ol>
    <li>
        <a href="/manageaircrafts">Aircraft management</a>
    </li>
    <li>
         <a href="/manageflights">Flights management</a>
    </li>
    <li>
        <a href="/managebookings">Booking management</a>
    </li>
    <li>
        <a href="/managepassengers">passenger management</a>
    </li>
</ol>